.contact h3 {
  margin: 0px;
  background-color: #93c2ff;
  display: flex;
  justify-content: center;
}
h2 {
  display: flex;
  justify-content: center;
}

.company-img {
  margin: auto;
}

.nav :hover {
  text-decoration: underline;
  color: #93c2ff;
}
